div.book {
    background-color: #ffeaa7;
    width: 200px;
    height: 400px;
    border: 2px solid black;
    margin: 5px;
    float: left;
    position: relative;
}

.book-list-info {
    position: absolute;
    width: 100%;
    bottom: 15px;
}

ul.book-list {
    list-style-type: none;
    padding-left: 0px; /* To remove default left padding */
    position: relative;
}

.book-image {
    width: 150px;
    max-height: 300px;
    margin-top: 10px;
    border: 2px solid black;
}
